.container {
  margin: 0 100px;
}
.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: map-get($map: $color, $key: "pink");
  margin: 15px 0;
}
%btn-shared {
  display: inline-block;
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 3px solid map-get($map: $color, $key: "pink");
  font-weight: bold;
  cursor: pointer;
}
.btn {
  @extend %btn-shared;
}
.line {
  line-height: 0.8;
  .line1 {
    width: 15px;
    height: 15px;
    background: map-get($map: $color, $key: "pink");
    display: inline-block;
  }
  .line2 {
    width: 80px;
    height: 1px;
    background: map-get($map: $color, $key: "pink");
    display: inline-block;
  }
  .line3 {
    width: 60px;
    height: 1px;
    background: map-get($map: $color, $key: "pink");
    display: inline-block;
  }
}
