@import "variables";
@import "utiliy";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  //   background: map-get($map: $bg, $key: "desktop");
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
#header {
  background: map-get($map: $bg, $key: "desktop");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // overflow-x: hidden;
  // position: relative;

  .logo {
    width: 100px;
    margin-top: 30px;
  }
  .header-text {
    max-width: 350px;
    margin-top: 140px;

    .common-btn {
      margin-top: 15px;
      margin-bottom: 60px;
    }
  }
  p {
    font-size: 15px;
    line-height: 1.6;
    color: #777;
  }
}
#sidenav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: map-get($map: $color, $key: "pink");
  z-index: 2;

  .navlist {
    li {
      margin: 50px 20px;
    }
  }
  #menubtn {
    position: fixed;
    z-index: 2;
    width: 50px;
    right: 65px;
    top: 35px;
    cursor: pointer;
  }
}
#about,
#offer {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .about-left {
    // flex: 0.5;
    flex-basis: 50%;
    align-items: center;
  }
  .about-right {
    flex-basis: 50%;
    text-align: right;

    .right-text {
      max-width: 500px;
      margin-right: 100px;
      display: inline-block;

      h2 {
        margin: 50px 0 10px;
        font-size: 1.6rem;
        font-style: italic;
      }
      h3 {
        font-size: 1.2rem;
        font-style: italic;
        color: map-get($map: $color, $key: "gray");
      }
      .common-btn {
        margin: 30px 0;
      }
    }
  }
}
#features {
  padding: 50px 0;

  .feature-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .feature-col {
      flex-basis: 25%;
      text-align: center;

      img {
        width: 100px;
      }
      h4 {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  .feature-btn {
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .line {
      text-align: right;
      display: inline-block;
      margin-right: 25px;
    }
  }
}
#courses {
  padding: 100px 0;

  .course-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .course-right {
      flex-basis: 50%;
    }
    .course-left {
      flex-basis: 50%;
      .course-text {
        max-width: 350px;
        .common-btn {
          margin: 30px 0;
        }
      }
    }
  }
}
#contact {
  .contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .contact-right,
  .contact-left {
    flex: 50%;
  }
  .contact-left {
    .form {
      max-width: 350px;
      margin: 30px 0;

      input {
        width: 100%;
        padding: 12px 10px;
        margin-bottom: 5px;
        outline: none;
        box-shadow: none;
        border: 2px solid map-get($map: $color, $key: "input");
      }
      .btn-box {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .common-btn {
          flex-basis: 48%;
          padding: 18px 0;
        }
      }
    }
  }
}
#footer {
  padding: 50px 0 30px;

  hr {
    width: 100%;
    border: 0;
    border-top: 1px solid map-get($map: $color, $key: "rule");
  }
  .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-right {
    flex-basis: 35%;

    .footer-info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      .copyright-text {
        flex-basis: 40%;
      }

      .footer-logo {
        flex-basis: 40%;
        img {
          width: 100px;
        }
        .common-btn {
          padding: 12px 38px;
          margin-top: 20px;
          font-size: 10px;
        }
      }
    }
  }
  .footer-left {
    flex-basis: 50%;
    margin-top: 60px;
    .footer-link {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .link-title {
        h4 {
          color: map-get($map: $color, $key: "input");
          margin-bottom: 20px;
        }
      }
    }
  }
}
.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;

  img {
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
  }
}
@import "mobile";
